.carousel-slider{
    background-color:#f9f9fa;
    padding: 50px 0;
}

.carousel-card {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
  
  }