.contact-bg{
    background-color: #0af1d3;
    /* height: 450px; */
    padding-bottom: 30px;
}

.contact-content{
    padding-top: 70px;
}

#message{
    margin-top:20px;
    border: none;
    border-radius: 4px;
}